@inherits LayoutComponentBase

<NavMenu />

<div class="main">    
    @Body    
</div>
<footer>
    © Copyright @DateTime.Today.Year, 
    <a href="https://robwillup.com">Robson William</a>. 
    Powered by
    <a href="https://dotnet.microsoft.com/" target="_blank">.NET 7.0</a>
</footer>
