@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.wearedotnet.io/" target="_blank">WE ARE .NET</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer>
            © Copyright @DateTime.Today.Year,
            <a href="https://www.robwillup.com">Robson William</a>.
            Powered by
            <a href="https://dotnet.microsoft.com/" target="_blank">.NET 8.0</a>
        </footer>
    </main>
</div>
