label {
    margin-bottom: 0;
}

.menu {
    float: right;
    height: 100%;
}

.top-menu {
    height: 4rem;
}

.top-menu ul {
    margin: 0;
    margin-top: 2px;
    font-size: 18pt;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}

.top-menu li a {
    display: block;
    padding: 20px 20px;    
    text-decoration: none;
}

.top-menu li a:hover,
.top-menu .menu-btn:hover {
    background-color: #f4f4f4;
}

.top-menu .logo {
    display: block;
    color: white;
    font-family: 'Bilbo', cursive;
    float: left;
    font-size: 3em;
    padding-left: 10px;
    text-decoration: none;
    padding-top: 2px;
}
  
/* menu */

.top-menu .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding-top: 4px;
}

/* menu icon */

.top-menu .menu-icon {
    cursor: pointer;
    float: right;
    padding: 23px 20px;
    position: relative;
    user-select: none;
}

.top-menu .menu-icon .navicon {
    background: #b3e6ff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.top-menu .menu-icon .navicon:before,
.top-menu .menu-icon .navicon:after {
    background: #b3e6ff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.top-menu .menu-icon .navicon:before {
    top: 5px;
}

.top-menu .menu-icon .navicon:after {
    top: -5px;
}
  
/* menu btn */

.top-menu .menu-btn {
    display: none;
}

.top-menu .menu-btn:checked ~ .menu {
    margin-top: -2px;
    max-height: 240px;
    float: right;
    background-image: linear-gradient(90deg, rgb(0, 77, 107) 0%, rgb(0, 68, 95) 70%);
    width: 40%;
    height: 4rem;
}

.top-menu .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.top-menu .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.top-menu .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.top-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.top-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    float: right;
}
  
/* 32em = 768px */

@media (min-width: 32em) {
    .top-menu ul {
        float: right;
    }
    .top-menu li {
        float: left;
    }
    .top-menu li a {
        padding: 20px 30px;    
    }
    .top-menu .menu {
        clear: none;
        float: right;
        max-height: none;        
    }
    .top-menu .menu-icon {
        display: none;    
    }
}
  