@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Rob's Tech Blog</PageTitle>

<h1>Rob's Tech Blog</h1>

<p>Here you will find different posts about programming, software engineering and computer science.</p>

@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in articles)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Article[]? articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await Http.GetFromJsonAsync<Article[]>("sample-data/weather.json");
    }

    public class Article
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
