@page "/"

<PageTitle>Home</PageTitle>

<div class="index-card">
    <h2>Hello, I'm Rob</h2>
    <h3>Welcome to my website</h3>
    <br />
    <p>
        I am a software developer and I enjoy learning more about Software Engineering and Computer Science.
        <br />
        This is where I journal what I'm learning in the process of improving my foundational knowledge,
        enhancing skills, and tinkering with new technologies.
    </p>
    <br />
    <img src="https://raw.githubusercontent.com/robwillup/mithrandir/master/docs/assets/images/banner.png"
        width="700"/>
</div>

