@page "/about"

<div class="about">
    <button @onclick="@(() => SetTabID("summary"))">Summary</button>
    <button @onclick="@(() => SetTabID("experience"))">Experience</button>
    <button @onclick="@(() => SetTabID("skills"))">Skills</button>

    @if(TabID == "summary")
    {
        <div class="content">            
            <p>
                I am a software developer and self-teaching Computer Science student with 5 years of industry experience.
                <br>
                <br>
                .NET, Go, Azure, Git, GitHub, Azure DevOps, OpenID Connect, OAuth 2.0, Docker,
                Kubernetes, Oracle, MongoDB, REST
                <br>
                and gRPC are some of the technologies I have working experience with.
                <br>
                <br>
                However, I am also passionate about more foundational fields and topics of Computer Science,
                <br>
                and I believe
                that by seriously studying these foundations one can have a much better understanding
                <br>
                of tools and programming
                languages, and therefore produce higher-quality solutions.
                <br>                
            </p>
        </div>
    }
    else if (TabID == "experience")
    {
        <div class="content">
            <h3>Software Developer - ExxonMobil</h3>
            <h5>May 2018 - April 2021 (3 years)</h5>

            <p>
                    Responsible for designing, developing and delivering several solutions in the enterprise 
                and cyber security space.
                <br>
                <br>
                I led the design and development of a SAST (static application security testing) tool that 
                leverages different open-source components to scan source code in several programming 
                languages to find security issues, provide suggested solutions and enable DevSecOps.
                <br>
                This application has been written in <strong>Golang</strong> and <strong>C#</strong> (.NET Core and 5). 
                <br>
                It has been designed and delivered with a distributed and cloud native architecture that 
                includes web APIs, worker services, a document database and a CLI tool. 
                Some of the technologies I have used include Azure, Mongo DB, App Services, Function Apps, 
                GitHub Actions, Azure DevOps, Docker and security specifications such as OAuth 2 and 
                OpenID Connect.
                <br>
                Still in cyber security, I have designed and developed a web application for 
                Threat Modeling which enables different teams to learn about security requirements 
                and start implementing those in the earlier stages of software development.
                <br>
                This application has been created using C#, .NET 5 and Blazor Server. It is cloud 
                native, scalable and provides integrations with IDEs and CI pipelines.
                <br>
                <br>

                Created a desktop application to monitor USB posts and automatically scan all files 
                when a storage device is plugged in. 
                <br>
                This desktop app was created with C# and .NET Core 3.1. It was built, tested, and
                packaged in Azure DevOps pipelines and sent to App Center for distribution to the 
                clients.
                <br>
                <br>

                Also created several other apps using Docker, Kubernetes and OpenShift.
                Developed a frontend Angular app and an Azure DevOps (VSTS) extension using 
                TypeScript. 
                <br>
                Led the implementation of modern authentication protocols in our applications, 
                such as OpenID Connect and OAuth2.
                <br>
                Presented about software security development tools and modern authentication protocols in Bangkok
                and Buenos Aires.
            </p>
            <br>
            <h3>Software Developer - Fundação Sanepar de Assistência Social</h3>
            <h5>May 2017 - April 2018 (1 year)</h5>

            <p>At this company I had the amazing opportunity to quickly enhance my skills and experience as a
            Software Developer.
            I was exposed to some of the most popular technologies and best programming practices.
            Some of which were C#, .NET, MVC, Angular, Ionic, etc.
            My team was also great to work with and I learned a lot from them.
            </p>
            <br>
            <h3>Trainee - Wipro</h3>
            <h5>April 2016 - April 2017 (1 year)</h5>

            <p>Worked as a developer moderator for the MSDN (Microsoft Developer Network) forum.
            In this role, I had the opportunity to research and learn several Microsoft technologies for software
            development, such as C#, .NET, Visual Studio, Azure and others.
            My responsibility was to interact with .NET developers by moderating and providing answers to their
            questions, which were all related to software development.
            Another great experience I had in this role was opportunity to work with Microsoft experts and MVPs</p>
            <br>
            <h3>Software Developer - ExxonMobil</h3>
            <h5>January 2015 - August 2015 (8 months)</h5>

            <p>Joined ExxonMobil as an intern software developer.
            Worked with web development designing and writing a frontend web site with HTML, CSS and
            JavaScript.
            Also developed a C# application that used the Erlang formula to estimate call wait time.</p>
        </div>
    }
    else if(TabID == "skills")
    {
        <div class="content">Coming soon...</div>
    }
</div>