.about {
    display: block !important;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    text-align: left;
    margin-bottom: 1rem;
}

.content{
    text-align: left;
    margin: 2rem 2rem 2rem 0rem;
}

h3 {
    color: #00B4FB;
}

h5 {
    color: #9B4DCA;
}

button {
    min-width: 15rem;
}

img {
    max-width: 28rem;
}