@page "/blog"

@if(PostItems == null)
{
    <h3>Loading...</h3>
}
else if(string.IsNullOrEmpty(PostTitle))
{
    <Posts @bind-PostList="PostItems" @bind-PostTitle="PostTitle"></Posts>
}
else {
    <Post @bind-PostTitle="PostTitle"/>
}