@page "/blog"
@using Models

@if(Posts == null)
{
    <h3>Loading...</h3>
}
else 
{
    <ul>
        @foreach (PostPreview postPreview in Posts)
        {
            <li>
                <h3>@postPreview.title</h3>
                <h4>@postPreview.date</h4>
                <h4>@postPreview.tags</h4>
            </li>        
        }
    </ul>
}