@page "/blog"

<div class="row">
    @if(PostItems == null || Topics == null)
    {
        <h3>Loading...</h3>
    }
    else
    {
        <Topics @bind-TopicList="Topics"></Topics>

        if (string.IsNullOrEmpty(PostTitle))
        {
            <Posts @bind-PostList="PostItems" @bind-PostTitle="PostTitle"></Posts>
        }
        else
        {
            <Post @bind-PostTitle="PostTitle" />
        }
    }
</div>