.social {
    display: block !important;
    padding: 2em;
    text-align: center;
}

i {
    margin: 10px;
}

#github {
    color: white;
}

#youtube {
    color: red;
}

#twitter {
    color: #00B4FB;
}

#linkedin {
    color: #0A66C2;
}

#medium {
    color: white;        
}