@page "/contact"

<div class="social">
    <p>
        Would like to talk about software development or get connected?
        <br>
        Drop me a message and say hi!
        <br>
        You can find me pretty much anywhere by my handle: <strong>@@robwillup</strong>
    </p>
    <br>
    <div class="icons">
        <a href="https://github.com/robwillup" target="_blank">
            <i class="fab fa-github fa-4x"></i>
        </a>        
        <a href="https://www.linkedin.com/in/robwillup/" target="_blank">
            <i class="fab fa-linkedin fa-4x"></i>
        </a>        
        <a href="https://twitter.com/robwillup" target="_blank">
            <i class="fab fa-twitter fa-4x"></i>        
        </a>        
        <a href="https://robwillup.medium.com/" target="_blank">
            <i class="fab fa-medium fa-4x"></i>
        </a>  
        <a href="https://www.youtube.com/channel/UCIb9Xp3m_tI7kz2K7yXqXmw" target="_blank">
            <i class="fab fa-youtube fa-4x"></i>
        </a>      
    </div>    
</div>


