@page "/"

<div class="index">
    <h1>Hi, I'm Rob</h1>
    <p>
        I enjoy and work with Software Engineering and Computer Science.
        I'm always finding ways to deepen my foundational knowledge,
        enhance skills, tinker with new technologies and share what
        I learn in this process.
    </p>
</div>
