@page "/"

<div class="home-page">        
    <div class="card-content">
        <img class="card-image" src="img/me.jpg" />
        <h1 class="greeting">Hi, I'm Rob</h1>
        <p>
            I'm a learner, but also a knowledge sharer.
            <br>
            I love Computer Science and Software Engineering and I'm always finding ways 
            to deepen my foundational knowledge, enhance skills,
            tinker with new technologies and share what I learn in this process.
        </p>                
    </div>
</div>