@page "/"

<div class="home-page">
    <img src="https://raw.githubusercontent.com/RWillup/Mithrandir/master/assets/images/banner.png" alt="">
    <div class="home-text">
        <fast-card><img id="card-image" src="img/me.jpg" />
            <div id="card-content">
                <h1 id="greeting">Hi, I'm Rob</h1>
                <p>
                    I'm a learner, but also a knowledge sharer.
                    <br>
                    I love software development and I'm always finding ways to enhance my skills,
                    tinker with new technologies and share what I learn in this process.
                </p>
                <fast-button>What I've built</fast-button>
            </div>
        </fast-card>        
    </div>
</div>