.index {
    background-image: url("https://raw.githubusercontent.com/robwillup/mithrandir/master/docs/assets/images/banner.png");
    position: absolute;
    top: 10px;
    bottom: 1px;
    box-shadow: 0px 0px 500px 100px #181818 inset;
    margin-left: -1.5rem !important;
}
