@page "/"

<div class="home-page">
    <img src="https://raw.githubusercontent.com/RWillup/Mithrandir/master/assets/images/banner.png" alt="">
    <div class="home-text">
        <h1>Robson William</h1>
    </div>
</div>