.home-text {
    position: absolute;
    margin: 20%;
    margin-left: 5%;
    margin-top: 35%;
}

.home-text > h1{
    font-family: 'Bilbo', cursive;
    font-size: 60pt;
}

.home-page {                
    height: 100%;
    width: 100% ;  
    text-align: center;       
}

img {
    object-fit: cover;
    width: 100%;
}
