@page "/"

<div class="home-page">
    <img src="https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
    <div class="home-text">
        <fast-card style="width: 300px;"><img src="https://raw.githubusercontent.com/RWillup/Mithrandir/master/assets/images/banner.png" />
            <div style="padding: 0 10px 10px; color: var(--neutral-foreground-rest);">
                <h1>Hi, I'm Rob</h1>
                <p>
                    I'm a learner, but also a knowledge sharer.
                    <br>
                    I love software development and I'm finding ways to enhance my skills,
                    tinker with new technologies and share what I learn in this process.
                </p>
                <fast-button>Button</fast-button>
            </div>
        </fast-card>        
    </div>
</div>