.home-page {                    
    width: 100% ;  
    position: absolute;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, #181818), url("https://raw.githubusercontent.com/RWillup/Mithrandir/master/assets/images/banner.png");
    background-size: cover;
    max-height: 80vh;
}

.card-image{
    filter: grayscale(60%);
}

.greeting{     
    margin-top: 1rem;    
    bottom: 10%;
    float: right;
    display: inline;  
    width: 100%;  
}

.card-content {
    background-color: #181818;
    padding: 0 2rem 2rem; color: var(--neutral-foreground-rest);
    float: right;
    width: 35rem;
    height: 100%;
}
