@import "http://webfonts.ru/import/notcourier.css";

body{   background:url('http://cs625217.vk.me/v625217712/1a11c/0QgZ5V0MWEo.jpg');
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
}

.overlay h1 {
    text-align: center;
    color: white;
	display: block;
    margin-top: 25%;
}
