@if(OpenPost == null) 
{
    <h3>Loading...</h3>
}
else 
{
    <div class="content">
        <h3>In development...</h3>
        <h1>@OpenPost.Title</h1>
        <h2>@OpenPost.SubTitle</h2>
        @OpenPost.Text
    </div>
}